<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authors</title>
    <link rel="shortcut icon" href="">
</head>
<body>
    <div id="container">
        <h1>Favorite Authors</h1>
        <a [routerLink]="['/new']">New Author</a>
        <p>We have quotes by:</p>   
        <table>
            <thead>
                <tr>
                    <th>Authors</th>
                    <th>Actions Available</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let author of authors">
                    <td>{{author.name}}</td>
                    <td><button routerLink="/edit/{{author._id}}">Edit</button> <button (click)="deleteAuthor(author._id)">Delete</button></td>
                </tr>               
            </tbody>
        </table>
    </div>
</body>
</html>